@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png"> -->

    <title>RateMyPaper | @title</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("css/style.css")" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.at("css/font-awesome/css/font-awesome.css")">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    
    <script src="@routes.Assets.at("js/jquery-1.10.2.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/raty-2.5.2/raty.js")"></script>
  <style type="text/css"></style>
  </head>

  <body style="">


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron header bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
          	<h1 style="margin-top:0px">RateMyPaper</h1>
          	<a class="ibtn @("current".when(title == "Home"))" href="@routes.Application.index" role="button">Home</a>
          	<a class="ibtn @("current".when(title == "About"))" href="@routes.Application.about" role="button">About</a>
            <a class="ibtn @("current".when(title == "Results" | title == "Search"))" href="@routes.Application.search" role="button">Search</a>
          	<a class="ibtn @("current".when(title == "Top papers"))" href="@routes.Application.top" role="button">Top Papers</a>
            <a class="ibtn @("current".when(title == "Contact us"))" href="@routes.Application.contact" role="button">Contact us</a>
          </div>
          <div class="col-md-4" style="padding-right:2px">
          
          	@helper.form(action = routes.Application.search, 'id -> "searchForm") {
				<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="q" id="q"/>
            	<span class="sb-icon-search"><i class="fa fa-search"></i></span>
            	<input class="sb-search-submit" type="submit" value="" onclick="$('#searchForm').submit()"/>
			}
			
            <div class="pull-right" style="margin-top:10px; font-size:14px">
            <p class="dark-text"><a href="@routes.Application.login">Login</a> or <a href="@routes.Application.signup" style="">sign up</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="container" style="padding-bottom:40px">
      @content

      </div> <!-- /container -->
      <footer class="header">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              
              <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms of service</a></li>
              </ul>

              <p class="dark-text">2014 &copy; RateMyPaper</p>

            </div>
          </div>
        </div><!--End container for footer-->
        
      </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      

</body></html>