
@main("Search") {

	<div class="row">
	<div class="col-md-12">
		<h2>To get started, enter a search query in the search box</h2>
		
		@helper.form(action = routes.Application.search, 'id -> "searchForm") {
				
				<div class="input-group input-group-lg">
  <input type="text" class="form-control" name="q" id="q" placeholder="Enter your search query...">
  <span class="input-group-addon clickable" onclick="$('#searchForm').submit()"><i class="fa fa-search"></i></span>
</div>
				
				
		}
     </div>
      </div>
}
