
@main("Home") {

	<div class="row">
        <div class="col-md-4 ">
        	<center><img src="/assets/img/read.png" style="height:230px">
        	<h2>Read</h2>
        	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</p>
        
        	</center>
          
          </div>
        <div class="col-md-4">
        	<center><img src="/assets/img/rate.png" style="height:230px">
        	<h2>Rate</h2>
        	
        	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</p>
        	</center>
          
           </div>
        <div class="col-md-4">
        	<center>
        	<img src="/assets/img/search.png" style="height:230px">
        	<h2>Browse</h2>
        	
        	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</p>
        	</center>
          
           </div>
      </div>
}
