
@main("Rate") {

	<div class="row">
	
		<div class="col-md-12">
			<h2>You are rating this paper</h2>
			<h3>[Article title here] by</h3>
			<h4>[Authors here]</h4>
			<hr>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<h3>Science quality</h3>
			<span class="rating-science"></span><br>
			<h3>Usefulness</h3>
			<span class="rating-useful"></span><br>
			<h3>User interest</h3>
			<span class="rating-interest"></span>
		</div>
		<div class="col-md-7">
			<h3>Leave a small review (optional)</h3>
			<textarea placeholder="Blah blah blah" class="form-control" rows="7" style="font-size:20px"></textarea>
		</div>
	
		<div class="col-md-12" style="margin-top:30px">
		<hr>
		<center>
		<button class="btn btn-green">Rate!</button>	
		<button class="btn btn-green">Clear all</button>
		</center>	
		</div>
    </div>
    
    
    <script>
      $( document ).ready(function() {
    	  $('.rating-science').raty({score:0, readOnly:false, half:true, path:'assets/star'});
    	  $('.rating-useful').raty({score:0, readOnly:false, half:true, path:'assets/star'});
    	  $('.rating-interest').raty({score:0, readOnly:false, half:true, path:'assets/star'});
      });
    </script>
}
